{% load url from future%}
{% load greta_tags %}

<ul class="nav nav-tabs">
  <li {% if log %}class="active"{% endif %}>
    <a href="{% url 'repo_detail' pk=repo.pk ref=full_ref %}">
      Commit History
    </a>
  </li>

  {% if repo.repo.get_refs %} {# refs need to exist to see the tree #}
    <li {% if tree %}class="active"{% endif %}>
      <a href="{% url 'tree_detail' pk=repo.pk ref=ref path='' %}">
        Files
      </a>
    </li>
  {% else %}
    <li class="disabled">
      <a href="#">
        Files
      </a>
    </li>
  {% endif %}
</ul>
