{% extends "greta/greta_base.html" %}
{% load url from future %}
{% load greta_tags %}

{% block content %}
  {% include "greta/_tabs.html" %}

  <div class="row-fluid">
    <div class="span9 well">
      <h2>Commit</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>Commit ID</td>
            <td>{{ commit.id }}</td>
          </tr>
          <tr>
            <td>Commiter</td>
            <td>{{ commit.committer|committer }}</td>
          </tr>
          <tr>
            <td>Commit Time</td>
            <td>{{ commit.commit_time|to_datetime }}</td>
          </tr>
        </tbody>
      </table>
      <div style="word-wrap:break-word;">
        {{ commit.message|commit_message }}
      </div>
    </div>
  </div>

  {% for filename, diff in changes %}
    <h3>{{ filename|pretty_diffname }}</h3>
    {{ diff|pygmentize_diff }}
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
