{% extends "base.html" %}
{% load url from future %}
{% load greta_tags %}


{% block page-header%}
  <div class="page-header">
    <div class="btn-group pull-right">
      {% if repo.branches %}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Branches
          &nbsp;
          {% if full_ref|is_branch %}
            <span class="label label-primary">
              {{ full_ref|pretty_ref|truncatechars:10 }}
            </span>
          {% endif %}
          &nbsp;
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for branch in repo.branches %}
            <li class="{% if full_ref == branch %}active{% endif %}">
              <a href="{% url 'repo_detail' pk=repo.pk ref=branch %}">
                {{ branch|pretty_ref }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <button type="button" class="btn btn-default" disabled="disabled">
          Branches <span class="caret"></span>
        </button>
      {% endif %}

      {% if repo.tags %}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Tags
          &nbsp;
          {% if full_ref|is_tag %}
            <span class="label label-primary">
              {{ full_ref|pretty_ref|truncatechars:10 }}
            </span>
          {% endif %}
          &nbsp;
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for tag in repo.tags %}
              <li class="{% if full_ref == tag %}active{% endif %}">
                <a href="{% url 'repo_detail' pk=repo.pk ref=tag %}">
                  {{ tag|pretty_ref }}
                </a>
              </li>
            {% endfor %}
        </ul>
      {% else %}
        <button type="button" class="btn btn-default" disabled="disabled">
          Tags <span class="caret"></span>
        </button>
      {% endif %}
    </div>
    <h1>{{ repo.name }} <small>{{ ref|pretty_ref|truncatechars:15 }}</small></h1>
  </div>
{% endblock %}
