{% extends "base.html" %}
{% load url from future %}
{% load greta_tags %}

{% block page-header%}
  <div class="page-header">
    <h1>{{ bleep }}</h1>
  </div>
{% endblock %}

{% block content %}
  {% for commit in repo.get_log %}
    {% if forloop.first %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Commit
            </th>
            <th>
              Committer
            </th>
            <th>
              Committed
            </th>
            <th>
              Message
            </th>
          </tr>
        </thead>
        <tbody>
      {% endif %}

      <tr>
        <td>
          <a href="{% url 'commit_detail' pk=repo.pk ref='master' %}">
            {{ commit.id|truncatechars:10 }}
          </a>
        </td>
        <td>
          {{ commit.committer|committer }}
        </td>
        <td>
          {{ commit.commit_time|to_datetime }}
        </td>
        <td>
          {{ commit.message|truncatechars:50 }}
        </td>
      </tr>

      {% if forloop.last %}
        </tbody>
      </table>
    {% endif %}
  {% empty %}
    <h2>No commits, yet.</h2>
  {% endfor %}
{% endblock %}
