{% extends "greta/greta_base.html" %}
{% load url from future %}
{% load greta_tags %}


{% block content %}
  {% include "greta/_tabs.html" with tags=1 %}

  {% for tag in repo.tags %}
    {% if forloop.first %}
      <ul class="nav nav-tabs nav-stacked">
    {% endif %}

    <li>
      <a href="{% url 'repo_detail' pk=repo.pk ref=tag %}">
        {{ tag }}
      </a>
    </li>

    {% if forloop.last %}
      </ul>
    {% endif %}

  {% empty %}
    <h2>No tags, yet.</h2>
  {% endfor %}
{% endblock %}
